
.nothing__main-content {
    align-items: center;
    background-color: $back-grey;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}